# ==============================
# BUILD
# ==============================

build/
cmake-build-*/

# ==============================
# BINARIOS / OBJETOS
# ==============================

*.exe
*.o
*.obj
*.out
*.dll
*.lib
*.a
*.pdb

# ==============================
# CMAKE
# ==============================

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build.ninja
.ninja_deps
.ninja_log

# ==============================
# VS CODE
# ==============================

.vscode/

# ==============================
# SISTEMA OPERATIVO
# ==============================

.DS_Store
Thumbs.db

# ==============================
# TEMPORALES
# ==============================

*.tmp
*.log